{% load staticfiles %}

<!DOCTYPE html>
<html>

	<link rel="stylesheet" type="text/css" href="{% static 'debates/main.css' %}">

	<h2> Create a Debate </h2>

	<form action="create_debate" method="post">
	{% csrf_token %}

	<p> Topic: ("President Trump")</p>
	<input type="text" name="topic" id="topic"><br />

	<p> Position: ("Trump is great!")</p>
	<input type="text" name="position" id="position"><br />
	<p> Your name: </p>
	<input type="text" name="starter_name" id="starter_name"><br />
	<br />

	<h3> Category </h3>
	{% for category in categories %}
		<input type="radio" name="category" id="category{{ forloop.counter }}" value="{{ category.id }}" />
		<label for="category{{ forloop.counter }}">{{ category.name }}</label><br />
	{% endfor %}

	<br />
	<input type="submit" value="Create Debate" />
	</form>

</html>
