{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'debates/front.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'debates/main.css' %}">
    </head>
    <body>
        {% if redirect_message %}
        <h1 class="importantMessage">{{redirect_message}}</h1>
        {% endif %}
        <h1>Welcome to De-Bit!<h1/>

        <h1 class="createDebateButton"> <a href="/front/create_debate">Create a Debate </a></h1>

        <h1 class="joinDebateButton">Join a Debate</h1>
        Debates in format [Topic] [position of creator]

        {% for c in categories %}

        <h2 class="categoryTitle">{{c.name}}</h2>
        <ul>
            {% for d in c.debate_set.all %}
                {% for i in to_display %}
                    {% if d.status == 0 %}
                        {% if d.topic == i.topic %}
                            <li class="debateblurb"><a href="/front/{{d.pk}}/join/">{{d.topic}}</a><span class="position">({{d.orig_position}})</span></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
        {%endfor%}

    </body>
    </html>


