<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="./mystyle.css">
    </head>
    <body>
        <h1>Welcome to De-Bit!<h1/>

        <h1 class="createDebateButton"> <a href="bad">Create a Debate </a></h1>

        <h1 class="joinDebateButton"><a href="bad">Join a Debate</a></h1>
        Debates in format [Topic] [position of creator]

        <h2 class="categoryTitle">Politics</h2>
        <ul>
            <li class="debateblurb"><a href="bad">Donald Trump would make a good President </a><span class="position">(I believe he would be)</section></li>
            <li class="debateblurb"><a href="bad">America should accept more international refugees </a><span class="position">(I think we should keep refugees out)</span></li>
            <li class="debateblurb"><a href="bad">There is no valid reason for a war </a><span class="position">(I believe there are valid reasons)</span></li>
        </ul>

        <h2 class="categoryTitle">Philosophy</h2>
        <ul>
            <li class="debateblurb"><a href="bad">Life has no meaning </a><span class="position">(I think life is inherently pointless)</span></li>
            <li class="debateblurb"><a href="bad">Should we create AI? </a><span class="position">(I believe we should)</span></li>
        </ul>

        <h2 class="categoryTitle">Other</h2>
        <ul>
            <li class="debateblurb"><a href="bad">Star Wars vs. Star Trek </a><span class="position">(Trek is better)</span></li>
            <li class="debateblurb"><a href="bad">What will happen in Breaking Bad? </a><span class="position">(I think Walter White's Going to die)</span></li>
            <li class="debateblurb"><a href="bad">Best Band of the 21st Centure </a><span class="position">(I think it's Maroon 5)</span></li>
        </ul>

    </body>
    </html>


