{% load staticfiles %}
<html>

    <head>
    <meta charset="UTF-8">
    <title>join_debate</title>
    <link rel="stylesheet" type="text/css" href="{% static 'debates/main.css' %}">
    </head>

    <body>
<link rel="stylesheet" type="text/css" href="{% static 'debates/main.css' %}">
<form action="/front/{{debateId}}/join/" method="post">
{% csrf_token %}

<h1> Get Ready to join a Debyte we just need your name! </h1>
<p> Your name: </p>
<input type="text" name="name" id="name"><br />
<input type="submit" />
</body>
</html>
